header{
    text-align: center;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: xx-large;
    color: #040475;
}
p{
   text-align: justify; 
   font-size: x-large;
   color:brown;
   margin-left: 10%;
   margin-right: 10%;
}
div{
    text-align: center;
}
input{
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    border-radius: 6px;
    width:100px;
    height: 40px;
    font-size: large;
    text-align: center;
}

    
